# accessible class net/minecraft/registry/tag/TagGroupLoader$TagDependencies
public net.minecraft.tags.TagLoader$SortingEntry
# accessible method net/minecraft/registry/tag/TagGroupLoader$TagDependencies <init> (Ljava/util/List;)V
public net.minecraft.tags.TagLoader$SortingEntry <init>(Ljava.util.List;)V

# accessible class net/minecraft/registry/RegistryOps$RegistryInfoGetter
public net.minecraft.resources.RegistryOps$RegistryInfoLookup

# accessible	class	net/minecraft/client/gui/screen/ingame/HandledScreens$Provider
public net.minecraft.client.gui.screens.MenuScreens$ScreenConstructor
# accessible	method	net/minecraft/client/gui/screen/ingame/HandledScreens	register	(Lnet/minecraft/screen/ScreenHandlerType;Lnet/minecraft/client/gui/screen/ingame/HandledScreens$Provider;)V
public net.minecraft.client.gui.screens.MenuScreens register(Lnet/minecraft/world/inventory/MenuType;Lnet/minecraft/client/gui/screens/MenuScreens$ScreenConstructor;)V

#accessible field net/minecraft/client/gui/DrawContext state Lnet/minecraft/client/gui/render/state/GuiRenderState;
public net.minecraft.client.gui.GuiGraphics guiRenderState # guiRenderState
#accessible field net/minecraft/client/gui/DrawContext scissorStack Lnet/minecraft/client/gui/DrawContext$ScissorStack;
public net.minecraft.client.gui.GuiGraphics scissorStack # scissorStack